/* BASE SECTION */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(-45deg, #5A009F, #84009C, #1B004A);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    color: white;
    font-size: 16px;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


/* HEADER SECTION */
.top-navigation {
    padding: 20px 0;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
}

.top-navigation .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 36px;
    font-weight: bold;
    color: #ffcc00;
    text-shadow: 0px 0px 10px #ffcc00;
}

.main-menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 28px;
}

.main-menu-item a {
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    transition: 0.3s;
}

.main-menu-item.active a:not(.contact-btn) {
    color: #ffcc00;
}

.main-menu-item a:not(.contact-btn):hover {
    color: #ff6d00;
    text-shadow: 0px 0px 10px #ff6d00;
}

.main-menu-item a.contact-btn {
    background: #ffcc00;
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
    transition: 0.3s ease-in-out;
    display: inline-block; 
}

.main-menu-item.active a.contact-btn {
    background: #ff6d00;
}

.main-menu-item a.contact-btn:hover {
    background: #ff6d00;
    transform: scale(1.1);
}

/* BURGER SUBSECTION */
.burger {
    display: none;
    position: relative; /* for other elements */
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
}

.burger span {
     height: 2px;
     width: 100%;
     transform: scale(1);
     background-color: white;
     transition: all 0.3s ease 0s;
}

.burger::before, .burger::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #FAF6F2;
    transition: all 0.3s ease 0s;
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

.burger.active span {
    transform: scale(0);
}

.burger.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%);
}

@media (max-width: 900px) {
    .burger {
        display: flex;
    }

    .main-menu {
        display: none;
    }
}

/* FOOTER SECTION */
.nav-footer {
    width: 100%;
    margin-top: 30px;
    padding: 30px 0;
    text-align: center;
    background: linear-gradient(to right, #5a189a, #240045);
    border-top: 2px solid rgba(255, 255, 255, 0.2);
}